body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @apply default-text antialiased;
  @apply no-tap-highlight;
  @apply default-background;
}

@media only screen and (max-width: 1024px) {
  .no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}

.default-background {
  @apply bg-white dark:bg-gray-800-spotify;
}
.default-border {
  @apply border-gray-200 dark:border-gray-700-spotify;
}
.default-text {
  @apply text-black dark:text-white;
}

.navbar-link-desktop {
  @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600-spotify;
}
.navbar-link-mobile {
  @apply block px-3 py-2 rounded text-base font-semibold;
  @apply hover:bg-gray-600-spotify dark:hover:bg-opacity-20 hover:bg-opacity-5;
}
.navbar-link-mobile + .nuxt-link-active {
  @apply dark:bg-gray-600-spotify;
}

hr {
  @apply default-border;
}

.fullwidth {
  @apply w-full table table-fixed;
}

.secondary-text {
  @apply text-gray-500 dark:text-gray-500-spotify;
}
.primary-text {
  @apply text-gray-550-spotify dark:text-gray-200;
}

.h-container {
  @apply container xl:px-22 px-2;
}
.h-title {
  @apply text-2xl font-normal primary-text;
}
.h-main {
  @apply flex flex-col gap-6;
}
.h-page {
  @apply w-full md:w-1/2 lg:w-1/3;
}

.paste-content-fullscreen {
  @apply fixed w-full h-full overflow-auto top-0 left-0 z-50 p-3;
}
.paste-control-head {
  @apply flex flex-row gap-3;
}
.paste-control-footer {
  @apply flex md:flex-row flex-col gap-3 md:items-end w-full;
}

.avatar {
  @apply rounded-full object-cover select-none;
}
.link {
  @apply text-base text-blue-500 hover:underline;
}
.icon {
  @apply text-gray-500 dark:text-gray-400-spotify;
}
.tool-icon {
  @apply icon p-1 h-8 w-8 rounded hover:bg-gray-100 dark:hover:bg-gray-600-spotify cursor-pointer;
}

.custom-element-container {
  @apply flex flex-col gap-2;
}
.custom-element {
  @apply border rounded default-border;
  @apply bg-white dark:bg-gray-700-spotify;
  @apply placeholder-black dark:placeholder-white placeholder-opacity-20 dark:placeholder-opacity-20;
  @apply hover:border-black dark:hover:border-white hover:border-opacity-30 dark:hover:border-opacity-10;
  @apply focus:ring-2 focus:outline-none focus:border-transparent;
}
.custom-element-label {
  @apply dark:text-gray-400-spotify text-gray-600-spotify text-base font-semibold;
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f8f8f8;
  --prism-font-size: 1rem;
  --prism-block-padding-x: 0.75rem;
  --prism-block-padding-y: 0.75rem;
  --prism-block-margin-x: 0rem;
  --prism-block-margin-y: 0rem;
  --prism-comment: #758575;
  --prism-namespace: #444444;
  --prism-string: #bc8671;
  --prism-punctuation: #80817d;
  --prism-literal: #36acaa;
  --prism-keyword: #248459;
  --prism-function: #849145;
  --prism-deleted: #9a050f;
  --prism-class: #2b91af;
  --prism-builtin: #800000;
  --prism-property: #ce9178;
  --prism-regex: #ad502b;
}

html.dark {
  --prism-foreground: #d4d4d4;
  --prism-background: #1e1e1e;
  --prism-font-size: 1rem;
  --prism-block-padding-x: 0.75rem;
  --prism-block-padding-y: 0.75rem;
  --prism-block-margin-x: 0rem;
  --prism-block-margin-y: 0rem;
  --prism-namespace: #aaaaaa;
  --prism-comment: #758575;
  --prism-namespace: #444444;
  --prism-string: #ce9178;
  --prism-punctuation: #d4d4d4;
  --prism-literal: #36acaa;
  --prism-keyword: #38a776;
  --prism-function: #dcdcaa;
  --prism-deleted: #9a050f;
  --prism-class: #4ec9b0;
  --prism-builtin: #d16969;
  --prism-property: #ce9178;
  --prism-regex: #ad502b;
}

code[class*='language-'],
pre[class*='language-'] {
  white-space: pre-wrap !important;
}

.prism-editor__textarea:focus {
  outline: none;
}
