body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  @apply default-text antialiased;
  @apply no-tap-highlight;
  @apply default-background;
}

@media only screen and (max-width: 1024px) {
  .no-tap-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

.default-background {
  @apply bg-white dark:bg-gray-800-spotify;
}
.default-text {
  @apply text-black dark:text-white;
}

.navbar-link-desktop {
  @apply block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600-spotify;
}

.navbar-link-mobile {
  @apply block px-3 py-2 rounded text-base font-semibold;
  @apply hover:bg-gray-600-spotify dark:hover:bg-opacity-20 hover:bg-opacity-5;
}
.navbar-link-mobile + .nuxt-link-active {
  @apply dark:bg-gray-600-spotify;
}

.h-title {
  @apply text-2xl font-normal text-gray-550-spotify dark:text-gray-200;
}
.secondary-text {
  @apply text-gray-500 dark:text-gray-500-spotify;
}

.h-main {
  @apply flex flex-col gap-6;
}
.h-page {
  @apply w-full md:w-1/2 lg:w-1/3;
}
.paste-content-fullscreen {
  @apply fixed w-full h-full overflow-auto top-0 left-0 z-50 p-5;
}
.link {
  @apply text-base text-blue-500 hover:underline;
}
.icon {
  @apply text-gray-500 dark:text-gray-400;
}
.avatar {
  @apply rounded-full object-cover select-none;
}
.tool-icon {
  @apply icon p-1 h-8 w-8 rounded hover:bg-gray-100 dark:hover:bg-gray-600-spotify cursor-pointer;
}
.h-container {
  @apply container lg:px-22 px-2;
}
.default-border {
  @apply border-gray-200 dark:border-gray-700-spotify;
}
hr {
  @apply default-border;
}
.custom-element {
  @apply border rounded;
  @apply placeholder-black dark:placeholder-white placeholder-opacity-20 dark:placeholder-opacity-20;
  @apply border-gray-300 dark:border-gray-600-spotify;
  @apply bg-white dark:bg-gray-700-spotify;
  @apply hover:border-black dark:hover:border-white hover:border-opacity-30 dark:hover:border-opacity-10;
  @apply focus:ring-2 focus:outline-none focus:border-transparent;
}

textarea {
  @apply w-full p-2 resize-none custom-element;
}

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}

.paste-control-head {
  @apply flex flex-row gap-3;
}
.paste-control-footer {
  @apply flex md:flex-row flex-col gap-3 md:items-end xl:w-4/6 lg:w-3/4 w-full;
}
